{% extends 'account/base.html' %}
{% block styles %}
<style>
  .testcard {
    color:#2e3d49;
    text-decoration-color: #2e3d49;
  }
</style>
{% endblock styles %}
{% block content %}

{% include 'modals/addTestModal.html' %}

<!-- MAIN CONTENT STARTS -->
<div style="margin: 2%">
  <div class="row">
    <div class="col s2 l1 right">
      <a id="add-new-question" class="waves-effect waves-light btn-floating pulse blue z-depth-3 right" href="#" onclick="$('#addTestModal').modal('open');"><i class="material-icons" style="vertical-align: middle">playlist_add</i>Add Test</a>
    </div>
  </div>
  <div class="row">
    {% for test in tests %}        
      <div class="col s12 m6 l4">
        <div class="card testcard z-depth-3">
          <div class="card-content">
            <span class="card-title">
              <style>
                .test-name:hover {
                  font-weight: bold;
                }
              </style>
              <a class="test-name grey-text text-darken-4" href="{% if test.is_active %}{{ test.get_test_detail_url }}{% else %}#{% endif %}">
                {{ test.name }}
              </a>
              <a href="{{test.get_absolute_url}}" class="btn-floating btn-small right red" style="margin-left:1%">
                  <i class="material-icons" style="vertical-align: middle">settings</i>
              </a>
            </span>
            <span class="chip">Total Attempts: {{ test.get_attempts }}</span>
            <span class="chip">Average Rating: {{ test.get_average_rating }}</span>
            <span class="chip">Created on: {{ test.created_on }}</span>
            {% if test.private %}
              <span class="chip red">Private</span>
            {% endif %}
            {% if test.publish %}
              <span class="chip blue">Published</span>
            {% endif %}
            {% if test.is_active %}
              <span class="chip green">Active</span>
            {% endif %}
          </div>
          <div class="card-action">
            <a href="{{test.get_absolute_url}}" class="blue-text">Add or view Questions</a>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>
<!-- MAIN CONTENT ENDS -->

{% endblock content %}
{% block scripts %}
<script>
  $(document).ready(function() {
    $('.modal').modal();
    $(".testcard").hover(function() {
      $(this).toggleClass('z-depth-3');
      $(this).toggleClass('z-depth-5');      
    });
    $('.ajax-test-form').submit(function(event) {
      event.preventDefault();       
      var $formData = $(this).serialize();
      var $thisURL = $('.ajax-test-form').attr('data-url');
      console.log("Its working", $formData, $thisURL);
      $.ajax({
        method: 'POST',
        url: $thisURL,
        data: $formData,
        success: handleFormSuccess,
        error: handleFormError,
      });
    });
    function handleFormSuccess(data, textStatus, jqXHR) {
      new PNotify({
          title: 'Success!',
          type: 'success'
      });
      $('.ajax-question-form').trigger("reset");
      $('#modal-close').click();
      window.location.reload();
    }
    function handleFormError(jqXHR, textStatus, errorThrown) {
      new PNotify({
          title: 'Oops!',
          type: 'error'
      });
          console.log(jqXHR)
          console.log(textStatus)
          console.log(errorThrown)
    }
  })  
</script>
{% endblock scripts %}