{% extends 'account/base.html' %}

{% block content %}
<div style="margin: 2rem">
    <div class="row">
        <div class="card col s12 l12">
            <div class="card-content">
                <div class="row">
                    <div class="col s8 l4 offset-s2">
                        <h3 class="card-title grey-text text-darken-4" style="font-size:2.2rem">{{ test.name }}</h3>
                        <span class=" grey-text text-darken-2">by <a href="{% url 'user:profile' username=test.owner.user.user.username %}" style="color:inherit">{{ test.owner.user.extra_data.name }}</a></span>
                    </div>
                    <div class="col s6 l2 center-align">
                        <h4 class="card-title grey-text text-darken-4">{{ test.get_attempts }}</h4>
                        <span class=" grey-text text-darken-2">Total Submissions</span>                        
                    </div>
                    <div class="col s6 l2 center-align">
                        <h4 class="card-title grey-text text-darken-4">{{ test.get_average_rating|default:'N/A' }}</h4>
                        <span class=" grey-text text-darken-2">Average Rating</span>                        
                    </div>
                    <div class="col s6 l2 center-align">
                        <h4 class="card-title grey-text text-darken-4">{{ test.get_question_count }}</h4>
                        <span class=" grey-text text-darken-2">Number of Questions</span>                        
                    </div>
                    <div class="col s6 l2 center-align">
                        <h4 class="card-title grey-text text-darken-4">{{ test.created_on|date }}</h4>
                        <span class=" grey-text text-darken-2">Published Date</span>                        
                    </div>
                </div>
                <div class="row">
                    <div class="col s12 l12">
                        Tags :
                        {% for topic in test.topics.all %}
                        <div class="chip">{{ topic.name }}</div>
                        {% empty %}
                        No tags
                        {% endfor %}    
                    </div>
                </div>
                </div>
                <div class="card-action">
                    <div class="row">
                    <div class="col s4 left">
                        {% url 'quiz:testDetail' pk=test.pk as share_like_url %}
                        <iframe src="https://www.facebook.com/plugins/like.php?href=http://qzmaker.herokuapp.com/{{ share_like_url | urlencode }}&width=154&layout=button_count&action=like&size=large&show_faces=true&share=true&height=46&appId=323599101479324" width="154" height="33" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                    </div>
                    <div class="col s2 right">
                        <a href="{% url 'quiz:takeQuiz' pk=test.pk %}{% if test.private %}?token={{ test.private_key }}{% endif %}" class="btn blue right"{% if not user_teststat and not test.is_active %}disabled{% endif %}>
                        {% if user_teststat %}
                        {% if user_teststat.has_completed %}
                            Result
                        {% else %}
                            Continue                    
                        {% endif %}
                        {% else %}
                            Take Quiz                                        
                        {% endif %}
                        </a>
                    </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col s12 l7">
                <div class="card">
                    <div class="card-content">
                        <canvas id="histogram"></canvas>
                    </div>  
                </div>
            </div>
            <div class="col s12 l5 card right">
                <div class="card-content">
                    <div class="card-title"><i class="material-icons yellow-text circle left">star</i>Leaderboard</div>
                    <table id="leaderboardTable" class="responsive-table">
                        {% if teststats %}
                        <thead>
                            <tr>
                                <td>Rank</td>
                                <td>Name</td>
                                <td>Score</td>
                            </tr>
                        </thead>
                        <tbody>
                            {% for teststat in teststats|slice:"5" %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td>
                                    <style>
                                        .leaderboard-link:hover {
                                            font-weight: bold;
                                        }
                                    </style>
                                    <a class="grey-text text-darken-4 leaderboard-link" href="{{ teststat.candidate.get_absolute_url }}">
                                    {{ teststat.candidate.user.extra_data.name }}
                                    </a>
                                </td>
                                <td>{{ teststat.score|floatformat:2 }}</td>                            
                            </tr>
                            {% endfor %}
                        </tbody>
                        {% else %}
                        <p class="center">Be the first one to take it!</p>
                        {% endif %}
                </table>           
            </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
<script>
$(document).ready(function() {
    $.ajax({
        method:"GET",
        url: "{% url 'quiz:score_distribution' pk=test.pk %}",
        success: function(data, textStatus, jqXhr) {
            console.log(data);
            new Chart(document.getElementById("histogram"),{
                "type":"bar",
                "data":{
                    "labels":["0-20", "21-40", "41-60", "61-80", "81-100"],
                    "datasets":[
                        {
                            "label":"% of score",
                            "data": data.data,
                            "fill":false,
                            "backgroundColor":[
                                "rgba(255, 99, 132, 0.2)",
                                "rgba(255, 159, 64, 0.2)",
                                "rgba(255, 205, 86, 0.2)",
                                "rgba(75, 192, 192, 0.2)",
                                "rgba(54, 162, 235, 0.2)",
                            ],
                            "borderColor":[
                                "rgb(255, 99, 132)",
                                "rgb(255, 159, 64)",
                                "rgb(255, 205, 86)",
                                "rgb(75, 192, 192)",
                                "rgb(54, 162, 235)",
                                "rgb(153, 102, 255)",
                                "rgb(201, 203, 207)"
                            ],
                            "borderWidth":1
                        }
                    ]
                },
                "options":{
                    "scales":{
                        "yAxes":[
                            {
                                "ticks":{
                                    "beginAtZero":true,
                                    callback: function(value) {if (value % 1 === 0) {return value;}}
                                }
                            }
                        ]
                    }
                }
            });
        },
        error: function(jqXhr, textStatus, errorThrown) {

        }
    });
});
</script>
{% endblock scripts %}