{% extends 'account/base.html' %}

{% block content %}
<div style="margin:1rem">
    {% include "modals/userFollowingModal.html" %}
    <div class="row">
    <div class="col s12 m12 l12">
        <div class="card horizontal card-image profilecard z-depth-3 grey-text text-darken-3">
        <div class="card-image">
            <img src="{{ profile_pic }}" style="border-radius: 50%; width: 128px; height: 128px; margin:1rem">
        </div>
        <div class="card-stacked">
            <div class="card-content">
            <div class="row">
                <div class="col s8 l4 offset-s2">
                        <h3 class="card-title grey-text text-darken-4" style="font-size:2.2rem">{{ profile.user.extra_data.name }}</h3>
                        <span class="grey-text text-darken-2"></span>                                       
                    </div>
                    <div class="col s6 l2 center-align">
                        <h3 class="card-title grey-text text-darken-4">{{ profile.get_total_tests_taken }}</h3>
                        <span class="grey-text text-darken-2">Tests Taken</span>                        
                    </div>
                    <div class="col s6 l2 center-align">
                        <h3 class="card-title grey-text text-darken-4">{{ profile.get_accuracy }}%</h3>
                        <span class="grey-text text-darken-2">Accuracy</span>                        
                    </div>
                </div>
            </div>
            <div class="card-action">
                {% if not owner and request.user.is_authenticated %}
                <a class="togglefollow btn-flat blue white-text lighten-1 z-depth-1" href="#" data-url="{{ profile.get_follow_url }}" style="margin-right:1%; font-size:0.8rem;">{% if following %}Unfollow{% else %}Follow{% endif %}</a>
                {% endif %}
                {% if owner %}
                <a class="btn-flat blue white-text lighten-1 z-depth-1" href="{% url 'quiz:mytest' %}" style="margin:2%; font-size:0.8rem;">My test</a>                
                {% endif %}
                <button class="btn-flat activator blue white-text lighten-1 z-depth-1" style="font-size:0.8rem;">Topics <i class="material-icons" style="vertical-align: middle">eject</i></button>
            </div>
        </div>
        <div class="card-reveal">
                <span class="card-title grey-text text-darken-4">Favourite Topics<i class="material-icons right">close</i></span>
                {% if is_owner %}
                    <div class="chips chips-autocomplete tooltipped"></div>
                {% else %}
                    {% if not topics %}
                        No Favourites
                    {% endif %}
                    {% for topic in profile.topics.all %}
                        <div class="chip">{{ topic }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col s12 m3">
        <div class="collection with-header z-depth-3">
            <a href="#" class="collection-item grey-text text-darken-4">
                <h5>Following({{ profile.following.all|length }})
                    <i class="material-icons right">group_add</i>
                </h5>
            </a>
            {% for following in profile.following.all|slice:":5" %}
            <a href="{{ following.get_absolute_url }}" class="collection-item">{{ following.user.extra_data.name }}</a>
            {% empty %}
            <a href="#" class="collection-item">No followings</a>
            {% endfor %}
            {% if profile.following.all %}
            <a href="#" class="secondary-content collection-item seeAll">See all -></a>
            {% endif %}
        </div>
    </div>
    <div class="col s12 m9">
        <div class="row">
            <div class="col s12 valign-wrapper">            
                <h5 class="grey-text text-darken-4">History</h5>
                <div class="input-field col s6">
                    <input id="search_bar" type="text" placeholder="Search tests">
                </div>
            </div>
        </div>
        <div class="row">
            {% for teststat in tests_taken %}
            {% if not teststat.has_completed %}        
            <div class="col s12 m4 testcard" data-name="{{teststat.test.name}}">
                <a href="{{ teststat.test.get_test_detail_url }}">
                    <div class="card testcard-inside z-depth-3">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-3">
                                {{ teststat.test.name }}
                                <span class=" right">
                                    {% if teststat.has_completed %}
                                    <i class="material-icons green-text">done_all</i>
                                    {% else %}
                                    <i class="material-icons red-text">watch_later</i>                
                                    {% endif %}
                                </span>
                            </span>
                            <span class="grey-text text-darken-3">
                                Date Taken: {{ teststat.date_taken|date }}
                                <br>
                                    {% if not teststat.score == None %}
                                    Score: {{ teststat.score }} 
                                    {% endif %}
                                <br>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
            {% for teststat in tests_taken %}
            {% if teststat.has_completed %}        
            <div class="col s12 m4 testcard" data-name="{{teststat.test.name}}">
                <a href="{{ teststat.test.get_test_detail_url }}">
                    <div class="card testcard-inside z-depth-3">
                        <div class="card-content">
                            <span class="card-title grey-text text-darken-3">
                                {{ teststat.test.name }}
                                <span class=" right">
                                    {% if teststat.has_completed %}
                                    <i class="material-icons green-text">done_all</i>
                                    {% else %}
                                    <i class="material-icons red-text">watch_later</i>                
                                    {% endif %}
                                </span>
                            </span>
                            <span class="grey-text text-darken-3">
                                Date Taken: {{ teststat.date_taken|date }}
                                <br>
                                    {% if not teststat.score == None %}
                                    Score: {{ teststat.score }} 
                                    {% endif %}
                                <br>
                            </span>
                        </div>
                    </div>
                </a>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
</div>
{% endblock content %}

{% block scripts %}  
<script>
    $(document).ready(function() {
        $(".modal").modal();
        $(".followingPgBar").css('display', "block");
        $("#search_bar").on('input', function(evt) {
            var query = $("#search_bar").val();
            if(query === undefined || query.length === 0) {
                $(".testcard").show(200);
                return;
            } 
            $(".testcard").each((ind, element) => {
                if($(element).attr("data-name").indexOf(query) !== -1) {
                    $(element).show(200);
                } else {
                    $(element).hide(200);                    
                }
            })
        });
        $(".seeAll").click(function(evt) {
            evt.preventDefault();
            $("#userFollowingModal").modal('open');
            if($(".followingCollection").is(":empty") === false) {
                return false;
            }
            $.ajax({
                method: 'GET',
                url: "{% url 'user:followings' username=profile.user.user.username %}",
                success: function(data, textStatus, jqXHR) {
                    console.log(data);
                    $(".followingPgBar").hide(500);
                    if(data.logged_user !== null) {
                        $(".followingCollection").append(`
                            <li class="collection-item" style="height:60px">
                                <a href="${data.logged_user.profile_url}">${data.logged_user.name}</a>
                            </li>
                        `);
                    }
                    data.follow.forEach((element, index) => {
                        $(".followingCollection").append(`
                            <li class="collection-item valign-wrapper" style="height:60px;padding:0%">
                                <div class="col s6">
                                    <a href="${element.profile_url}">${element.name}</a>
                                </div>    
                            </li>
                        `);
                    });
                    data.unfollow.forEach((element, index) => {
                        $(".followingCollection").append(`
                            <li class="collection-item valign-wrapper" style="height:60px;padding:0%">
                                <div class="col s6">
                                    <a class="truncate" href="${element.profile_url}">${element.name}</a>
                                </div>
                                <div class="col s6">
                                    <a href="#" class="secondary-content" style="font-size:0.7rem">
                                    <span class="badge white-text blue">Following</span>
                                    </a>
                                </div>
                            </li>
                        `);
                    });
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    new PNotify({
                        type:"error",
                        text:"Error loading following, reload the page"
                    })
                }
            })
        })
        $(".profilecard").hover(function() {
            $(this).toggleClass('z-depth-3');            
            $(this).toggleClass('z-depth-2');
        });
        $(".testcard-inside").hover(function() {
            $(this).toggleClass('z-depth-3');            
         $(this).toggleClass('z-depth-2');
        });
        {% if not owner %}
        $(".togglefollow").click(function(e) {
         e.preventDefault();
            var $url = $(this).attr("data-url");
            $.ajax({
                method:'POST',
                url: $url,
                success: function(data, textStatus, jqXHR){
                    new PNotify({
                        type:'success',
                        text: $('.togglefollow').html()+'ed',
                    })
                    if(data.is_following === true) {
                        $('.togglefollow').html("Unfollow");
                    } else {
                        $('.togglefollow').html("Follow");                        
                    }
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    new PNotify({
                        type:'error',
                        text: 'Reload page',
                    })
                }
            })
        });
        {% endif %}
        $('.tooltipped').tooltip({delay: 50, tooltip: "Only alphabets and digits, invalid topic name will not be saved", position: 'top'});
        {% if is_owner %}
            $('.chips-autocomplete').material_chip({
                autocompleteOptions: {
                data: {
                    {% for topic in all_topics %}
                        "{{ topic }}": null,
                    {% endfor %}
                },
                limit: Infinity,
                minLength: 1
                },
                data: [
                    {% for topic in profile.topics.all %}
                        { tag: "{{ topic }}"},
                    {% endfor %}
                ],
            });
            $('.chips').on('chip.add', function(e, chip){
                if(/^[a-zA-Z0-9]+$/.test(chip.tag) === false) {
                    new PNotify({
                        title: 'Invalid Topic',
                        type: 'error'
                    });
                    return;
                } 
                var $url = "{% url 'topic:add' %}";
                var $formdata = {'name': chip.tag};
                console.log($url, $formdata);
                $.ajax({
                    method: 'POST',
                    url: $url, 
                    data: $formdata,
                    success: function(data, textStatus, jqXHR) {
                        new PNotify({
                            title: 'Topic added',
                            type: 'success'
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        $(`.chip:contains('"${chip.tag}"<i class="material-icons close">close</i>')`).remove()
                        new PNotify({
		                    title: 'Oops! Reload Again',
				            type: 'error'
			            });
                    }
                })
            });
            $('.chips').on('chip.delete', function(e, chip){
                var $url = "{% url 'topic:delete' %}";
                var $formdata = {'name': chip.tag};
                $.ajax({
                    method: 'DELETE',
                    url: $url,
                    data: $formdata,
                    success: function(data, textStatus, jqXHR) {
                        new PNotify({
                            title: 'Topic removed',
                            type: 'success'
                        });
                    },
                    error: function(jqXHR, textStatus, errorThrown) {
                        new PNotify({
		                    title: 'Oops! Reload Again',
				            type: 'error'
			            });
                    }
                })
            });
        {% endif %}
    });
</script>
{% endblock scripts %}