{% extends 'account/base.html' %}

{% block content %}
<div style="margin:2%">
    <div class="input-field col s12">
        <select multiple>
          <option value="" disabled selected>Choose your option</option>
          <option value="1">Option 1</option>
          <option value="2">Option 2</option>
          <option value="3">Option 3</option>
        </select>
        <label>Materialize Multiple Select</label>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>
{% endblock scripts %}