<div id="userFollowingModal" class="modal">
    <div class="modal-content" style="padding:0%">
        <nav class="website-theme">
            <div class="nav-wrapper" style="margin-left:2%">
                <div class="col s8 left grey-text text-darken-4">
                    <ul>
                        <li style="font-size:1.3rem">Following</li>                        
                    </ul>
                </div>
                <div class="col s4">
                    <ul class="right">
                        <li><a href="#!"><i class="modal-action modal-close material-icons red-text text-accent-4">clear</i></a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="row grey-text text-darken-4">
            <div class="col s12">
                <div class="followingPgBar progress">
                    <div class="indeterminate"></div>
                </div>
                <ul class="followingCollection collection with-header"></ul>
            </div>                  
        </div>
    </div>
</div>