<div id="userFollowingModal" class="modal">
    <div class="modal-content" style="padding:0%">
        <nav class="website-theme">
            <div class="nav-wrapper">
                <div class="col s12 m12 l12">
                    <a href="#!" class="left" style="padding:1%"><h5>Following</h5></a>
                    <a href="#!" class="right"><i class="modal-action modal-close material-icons">clear</i></a>
                </div>
            </div>
        </nav>
        <div class="row grey-text text-darken-4">
            <div class="col s12">
                <div class="followingPgBar progress">
                    <div class="indeterminate"></div>
                </div>
                <ul class="followingCollection collection with-header"></ul>
            </div>                  
        </div>
    </div>
</div>